@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply bg-darkbg text-white;
}

.mapboxgl-popup-close-button {
    display: none
}

.mapboxgl-popup-anchor-top .mapboxgl-popup-tip {
    display: none
}

.mapboxgl-popup-content {
    @apply bg-darkbg rounded-lg drop-shadow-lg w-fit self-center p-5 mt-10 sm:scale-110 sm:mt-12 !important;
}

.recharts-layer .recharts-cartesian-axis-tick > text > tspan {
    fill: #fff !important;
}